{% extends 'main/base.html' %}
{% block title %}الرئيسية{% endblock %}

{% block content %}
<div class="hero">
    <div class="message-box" id="changing-text">أنا سوداني أنا</div>
</div>

<div style="text-align: center; color: white; margin-top: 30px;">
    <h2>مرحباً بكم في موقع الجالية السودانية في لندن أونتاريو</h2>
    <p style="max-width: 700px; margin: auto;">
        نحن مجتمع سوداني حيوي يجتمع على المحبة والتعاون. هدفنا هو دعم بعضنا البعض وتنظيم الأنشطة والفعاليات والتصويتات التي تعزز من وجودنا هنا في كندا.
    </p>
</div>
{% endblock %}
